.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.React-form {
  position: absolute;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  margin-top: 20px;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  margin-left: 40%;
}
.Name {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 15px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  text-align: start;
  margin-top: 30px;
}
p{
  font-size:13px;
  color:red;
  margin-top: 10px;
  text-align: start;
}
button {
  color: white;
  margin-top: 20px;
  background: #167ebe;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 900;
  padding:10px;
  padding-left: 20px;
  transition: 0.5s;
}

input {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
